.page_header {
	font-size: 40px;
	text-align: center;
}

.page_footer {
	font-size: 30px;
	text-align: center;
	color: black;
	position: fixed;
	bottom: 0;
}

#mypic {
	width: 120px;
	height: 120px;
}

body {
	background-color: grey;
}

td {
	padding: 30px;
}